body {
    display: flex;
    flex-direction: column;
}

.firstpart {
    display: flex;
    background-color: #1F2937;

}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

a, .sub {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 20px, 30px;
    border-radius: 12px;
}

.header {
    display: flex;
    

