body {
    display: flex;
    flex-direction: column;
    font-family: Dosis, sans-serif;
}

.firstpart {
    background-color: #1F2937;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

a, .sub {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 12px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
    margin-top: 3%;
}

.placeholder {
    display: flex;
    color: #E5E7EB;
    background-color: gray;
    padding: 30px 60px;
    justify-content: center;
    align-items: center;
}

.firstmeat {
    display: flex;
    justify-content: center;
}

.beginleft {
    display: flex;
    flex-wrap: wrap;
}